.card {
  background: #ffffff;
  border-radius: 20px;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.card__header {
  padding: 24px;
}

.card__body img {
  width: 100%;
}

.card__body--img {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.card__footer {
  padding: 24px;
  font-size: 18px;
  color: #78858F;
}

/* User Info Style */
.user-info {
  display: flex;
  align-items: center;
}

.user-info .avatar {
  width: 60px;
  flex-shrink: 0;
  margin-right: 12px;
}

.user-info .avatar .img-box {
  width: 64px;
  height: 64px;
  padding: 3px;
  border-radius: 100%;
  background: #000000;
}

.user-info .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  object-fit: cover;
  border: 2px solid #ffffff;
}

.user-info .name {
  width: 100%;
  font-size: 15px;
  color: #78858F;
  font-weight: 500;
}

.user-info .name span {
  display: block;
  color: #000000;
  font-size: 20px;
}

.user-info .user-dd {
  flex-shrink: 0;
  margin-left: 12px;
}


/* Dropdown Style Start */
.dd {
  position: relative;
}

.dd__btn {
  border: 0;
  background: transparent;
  width: 42px;
  height: 42px;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  cursor: pointer;
}

.dd__menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #010101;
  border-radius: 8px;
  padding: 8px 0;
  z-index: 12;
}

.dd__item {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #eaeaea;
  padding: 8px 24px;
  transition: all .3s ease-in-out;
}

.dd__item__icon {
  flex-shrink: 0;
  font-size: 24px;
  line-height: 1;
  margin-right: 16px;
}

.dd__item:hover {
  color: #FF3C78;
}